.nav {
    grid-area: n;
    background-color:darkcyan;
    padding: 20px;
}
.item{
    color:white;
    text-decoration: none;        
}

.active{
    color:gold;
    text-decoration: none;  
}


.photo{
    width: 30%;
    border: 2px solid rgb(0, 0, 0, .5);
    border-radius: 15%;
    overflow: hidden;
}

  .color{
      color:deepskyblue;
  }

  .friends{
      margin-top: 12px;
  }


  .friend{
margin-top: 8px;
  }