.content {
    grid-area: c;
    background-color:darkgrey;
}
.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
padding: 10px;
}
/* .messages{
padding: 10px; 
} */

/* .messagE{

} */
.dialog.active{
    color:gold;
}
