.content {
    grid-area: c;
    background-color:darkgrey;
}
.dialogs{
padding: 10px;
text-decoration: none;
}

.active{
    color:gold;
    max-width: 2px;
    text-overflow: ellipsis;
}

.image{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.flex{
    display: flex;
    margin-bottom: 8px;
    justify-content: flex-start;
}


.marginLeft{
    margin-left: 24px;
}


.max{
    max-width: 70px;
}